@import url(./variable.css);

* {
  font-family: var(--roboto);
}
.primary-color {
  color: var(--primaryColor) !important;
}
.font-header {
  font-family: var(--fontHeader);
}
.btn-primary-color {
  background-color: var(--primaryColor);
  border: 3px solid var(--primaryColor);
  color: white;
}
.btn-primary-color:hover,
.btn-primary-color:focus {
  background-color: var(--primaryColor);
  border: 3px solid var(--primaryColor);
  color: white;
}

.btn-outline-primary-color {
  /* transition: background 0.5s ease-in-out; */
  background-color: transparent;
  border: 3px solid var(--primaryColor);
  color: var(--primaryColor);
}
.btn-outline-primary-color:hover,
.btn-outline-primary-color:focus {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  color: white;
}

.border-left-primary-color {
  padding-left: 1.5rem;
  border-radius: 10px;
  border-left: 8px solid var(--primaryColor);
}

span.border-bottom-radius {
  position: relative;
}
span.border-bottom-radius::after {
  position: absolute;
  content: "";
  height: 6px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  background-color: var(--primaryColor);
  border-radius: 50%;
}
